@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/

:root {
    --white: #ffffff;
    --black: #333333;
    --red: #eb132b;
    --blue: #2a57a5;
    --dark-blue: #004c8a;
    --gray: #666666;
    --violet: #703989;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--black);
}

.container {
    /*border: 1px solid red;*/
    max-width: 1440px;
    margin: 0 auto;
}

.wrap-px-50 {
    padding: 0 50px;
}

.header {
    /*border: 1px solid blue;*/
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    padding: 20px 0;
}

.header_left-block {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header_right-block {
    /*border: 1px solid blue;*/
    flex: 1;
    align-self: flex-start;
}

.header_links-block {
    /*border: 1px solid brown;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header_links-block li a {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}

.burger {
    display: none;

    width: 44px;
    height: 44px;
    cursor: pointer;
    padding: 0;
    background-color: var(--black);
    border: none;
}

.burger_line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

.burger_line:last-child {
    margin-bottom: 0;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu li a{
    color: var(--black);
}

.logo-block {
    /*border: 1px solid darkviolet;*/
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 20px 0;
}

.logo {

}

.logo-banner {

}

.line-height {
    height: 10px;
}

.logo-block img:first-child,
.logo-block img:last-child {
    width: 50px;
}

.logo-block img:nth-child(3) {
    flex: 1;
}

/*------------------Mobile menu---------------------*/

.slide_menu-overlay{
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    transition: 0.6s;
    overflow-y: auto;
    min-height: 600px;
}

.slide_menu-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 20px 50px;
    /*padding-top: 60px;*/
    padding-top: 8vh;
    position: absolute;
    top: 0;
    /*left: -30%;*/
    background-color: var(--white);
    z-index: 10000;
    /*-webkit-box-sizing: border-box;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.5s ease left;
    overflow-y: auto;
}

.slide_menu-button {
    width: 38px;
    height: 38px;
    padding: 5px;
    z-index: 9999;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
}

.close-btn-icon{
    height: 20px;
    width: 20px;
}

/*----------------Typography------------------*/
.temp {
    border: 1px solid red;
}

.color-red {
    color: var(--red);
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-18 {
    font-size: 18px;
}

/*-----------------------Adaptive--------------------*/

@media (max-width: 1441px) {
}

@media (max-width: 1180px) {
    .header {
        gap: 20px;
    }

    .header_links-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .logo, .logo-banner {
        height: 70px;
        width: auto;
    }
}

@media (max-width: 1025px) {
}

@media (max-width: 975px) {
    .header {
        justify-content: space-between;
    }

    .header_right-block {
        flex: 0;
    }

    .header_left-block {
        flex: 1;
    }

    .header_links-block {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: auto;
    }
}

@media (max-width: 769px) {
}

@media (max-width: 629px) {
    .logo-banner {
        display: none;
    }
}

@media (max-width: 531px) {
    .wrap-px-50 {
        padding: 0;
    }
}

@media (max-width: 426px) {
}

@media (max-width: 376px) {
}

@media (max-width: 321px) {
}
